.shop-container {
  display: grid;
  grid-template-columns: 3fr 0.6fr;
}

.product-container {
  border-right: 1px solid lightgray;
  margin-right: 10px;
  margin-left: 15%;
}

.search-container {
  background-color: rgba(0, 0, 0, 0.808);
  padding: 20px;
  text-align: center;
  font-size: 17px;
}

.search-container input {
  width: 80%;
  padding: 5px;
  border-radius: 5px;
}
