.shop-container {
  display: grid;
  grid-template-columns: 3fr 0.6fr;
}

.product-container {
  border-right: 1px solid lightgray;
  margin-right: 10px;
  margin-left: 15%;
}

.search-container {
  background-color: rgba(0, 0, 0, 0.808);
  padding: 20px;
  text-align: center;
}

.search-container input {
  width: 80%;
  padding: 8px;
  border-radius: 5px;
  font-size: 17px;
}

.search-container input:focus {
  outline: none;
  border-radius: 5px;
  box-shadow: 0 0 5px cyan;
  border: 1px solid rgba(81, 203, 238, 1);
}
