.product {
  display: flex;
  border-bottom: 1px solid lightgray;
  margin-right: 10px;
  padding-bottom: 5px;
}

.product-info {
  margin-left: 20px;
}

.product-name {
  color: blue;
  font-weight: 400;
}

.btn-regular {
  background-color: rgb(226, 194, 15);
  width: 200px;
  height: 25px;
  border: 1px solid gray;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.btn-regular:hover {
  background-color: gold;
}

.icon-color {
  color: gold;
}
